html {
  background-color: green;
  box-sizing: border-box;
}

div {
  background-color: blue;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  margin: 50px auto;
}



.griddy {
  height: 6%;
  width: 6%;
  background-color: white;
}